/target/
*.gr
manual.out
manual.log
manual.dvi
manual.blg
manual.bcf
manual.bbl
manual.aux
ref.bbl
ref.bib
ref.blg
ref.log
.classpath
stylesheet.css
src/main/java/META-INF/MANIFEST.MF
out/artifacts/steiner_tree_pas_jar/steiner-tree-pas.jar
manual.tex
manual.synctex.gz
manual.run.xml
.settings/org.eclipse.jdt.core.prefs
.project
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/compiler.xml
.idea/artifacts/steiner_tree_pas_jar.xml
