graph {
	 fill-color: white;
}
node {
     fill-color: black;
     size-mode: dyn-size;
     size: 5px;
	 stroke-mode: plain;
	 stroke-color: white;
	 stroke-width: 1px;
}
node.terminal {
     shape: box;
	 size: 10px, 10px;
}
node.steiner {
	fill-color: white;
}
edge {
	 text-background-mode: plain;
	 fill-color: black;
}
edge.approxEdge {
     fill-color: red;
     size: 4px;
}
edge.exactEdge {
     fill-color: darkgreen;
     size: 4px;
}
 